@media (min-width: 1400) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
	/* menu css start */

	.main_menu {
		top: 0px;
		background-color: rgb(226, 62, 56);
		left: 1px;
	}

	.main_menu .navbar-brand {
		width: 180px;
		height: 50px;
		line-height: 50px;
	}

	.main_menu .navbar-brand img {
		margin-top: -8px;
	}

	.main_menu button i {
		color: #fff;
	}

	.main_menu .navbar-toggler:focus {
		box-shadow: 0 0 0 0;
	}

	.main_menu #navbarSupportedContent {
		background: #323232;
		text-align: center;
	}

	.main_menu ul li a::after {
		bottom: 0;
	}

	.main_menu ul li a {
		line-height: 35px;
	}

	.main_menu ul li a:focus {
		color: inherit;
	}
	/* menu css end */

	/* banner css start */
	.banner_text h1::before,
	.banner_text h1::after,
	.banner_text h2::before,
	.banner_text h2::after,
	.banner_text p::before,
	.banner_text p::after {
		display: none;
	}

	.banner_item {
		padding: 110px 0 50px;
	}

	.banner_text h1 {
		font-size: 40px;
	}
	.banner_text h2 {
		font-size: 20px;
	}
	.banner_text p {
		font-size: 12px;
	}
	.banner_text a {
		font-size: 14px;
	}

	#banner .slick-dots li.slick-active button {
		width: 16px;
		height: 16px;
	}

	#banner .slick-dots li button {
		width: 12px;
		height: 12px;
		margin: 3px;
	}

	/* banner css end */
	/* about css start */
	#about {
		padding: 48px 0;
	}

	.about_text p {
		font-size: 13px;
		line-height: 21px;
		text-align: justify;
	}

	.about_text p span {
		font-size: 13px;
		line-height: 21px;
		padding-bottom: 4px;
		padding-top: 8px;
	}

	.about_text h2 {
		font-size: 20px;
		line-height: 22px;
	}

	.about_text img {
		width: 100px;
	}

	/* about css end */

	/* gallery css start */

	.gal_img:nth-child(2) {
		margin-bottom: 24px;
	}

	/* gallery css end */
	/* team css start */

	#team {
		padding: 48px 0 7px;
	}

	.team_main {
		transform: translateY(-42px);
		-webkit-transform: translateY(-42px);
		-moz-transform: translateY(-42px);
		-ms-transform: translateY(-42px);
		-o-transform: translateY(-42px);
	}

	.team_main .team_text {
		border-color: #ddd;
	}

	.team_main .team_img .com_overlay {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	.team_main .team_text p {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	/* team css end */

	/* test css start */

	#testimonial .slick-dots li.slick-active button {
		width: 16px;
		height: 16px;
	}

	#testimonial .slick-dots li button {
		width: 12px;
		height: 12px;
		margin: 3px;
	}

	/* test css end */
	/* membership css start */

	#membership {
		padding: 48px 0;
	}

	.member_inner h2 {
		padding: 15px 0;
	}

	.member_inner h3 {
		padding: 25px 0;
		font-size: 40px;
	}

	.member_inner .offer_txt {
		padding: 20px 0;
		background: #f1f1f1;
	}

	.member_inner a {
		margin-bottom: 20px;
		font-size: 14px;
	}

	.member_inner a:nth-child(3) {
		margin-bottom: 0;
	}

	/* membership css end */
	/* counter css end */

	.counter_text h2 {
		font-size: 16px;
	}

	.counter_text h3 {
		font-size: 12px;
	}

	/* counter css start */
	/* menu css end */
	/* menu css start */
	/* menu css end */
	/* menu css start */
	/* menu css end */
}
